<h1>Welcome {{user.username}}</h1>
<table>
  <tr>
    <th>Category</th>
    <th>Topic</th>
    <th>User Name</th>
    <th>Posts</th>
  </tr>
  <tr ng-repeat='topic in topics'>
    <td>{{topic.category}}</td>
    <td><a href="#!/topic/{{topic._id}}">{{topic.title}}</a></td>
    <td>{{topic.user.username}}</td>
    <td>{{topic.posts.length}}</td>
  </tr>
</table>
<h3>Add a new Topic</h3>
<form ng-submit='create()'>
  Topic: <input type="text" ng-model='topic.title'>
  Description: <textarea rows="4" cols="20" ng-model='topic.description'></textarea>
  Category: <select ng-model='topic.category'>
    <option ng-repeat='category in categories' value={{category.name}} ng-bind='category.name'></option>
  </select>
  <input type="submit" value="Submit">
</form>
