<a href="#!/dashboard">Dashboard</a> | <a href ng-click='logout()'>Logout</a>
<h3>{{topic.user.username}} posted a topic:</h3>
<br>
&emsp;<b>{{topic.title}}</b>
<br>
&emsp;Description: {{topic.description}}
<h3>Post your answer here...</h3>
<form ng-submit='createPost()'>
   &emsp;<textarea rows="8" cols="50" ng-model='post.text'></textarea>
   <input type="submit" value="Post">
</form>
<div ng-repeat='post in posts'>
  <hr>
  &emsp;{{post.user.username}}: {{post.text}}
  <div ng-repeat='comment in comments'>
    &emsp;&emsp;&emsp;{{comment.user.username}}: {{comment.text}}
  </div>
  <form ng-submit='createComment()' ng-model='comment'>
    &emsp;&emsp;&emsp;<textarea rows="8" cols="50" ng-model='comment.text'></textarea>
    <input type="hidden" value="{{post._id}}" ng-model='comment.post'>
    <input type="submit" value="Comment">
  </form>
</div>
