<html ng-app='myApp'>
<head>
  <title></title>
  <script src='node_modules/angular/angular.js'></script>
  <script type='text/javascript'>
    var app = angular.module('myApp', []);
    app.controller('foodsController', function($scope){
      $scope.foods = [];
      $scope.addFood = function(){
        $scope.foods.push($scope.newFood);
        $scope.newFood = "";
      };
    });
  </script>
</head>
<body>
  <div ng-controller='foodsController'>
    <form>
      Favorite Food: <input type="text" ng-model='newFood'>
      <input type="submit" value="add food" ng-click='addFood()'>
    </form>
    <p>Currently typing: <span ng-if = 'newFood' ng-bind='newFood'></span></p>

    <input type="text" ng-model='food_filter' placeholder='filter...'>
    <ul>
      <li ng-repeat="food in foods | filter: food_filter">
        {{ food }}
      </li>
    </ul>
  </div>
</body>
</html>
